*.log
/screenshots/
/user_data/
assistant_memory.db
*.pyc
__pycache__/
.VSCodeCounter
/.hf_cache
/.cuda_alias
/__pycache__
transcribe_audio.py
/build
/dist
user_data.zip
modules.zip
resources.zip
/release
